.nav-bg {
  background-color: #165b85;
}
.navLink,
.navLink-header {
  font-size: 20px;
}

.navLink-header {
  color: #165b85;
  text-decoration: none;
}

.navbar-toggler-icon,
.navbar-toggler,
.collapsed {
  background-color: #165b85;
}

.user-name {
  color: rgb(44, 44, 44);
}

.logo {
  width: 80px;
}

.nav-bar-bg {
  background-color: #165b85;
  /* background: transparent; */
  /* backdrop-filter: blur(5px); */
}

:root {
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section-navbar {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid-navbar {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

.card__background {
  background: url("https://wallpaperaccess.com/full/13394.png");
}

.card-blur-navbar {
  list-style: none;
  position: relative;
  height: 150px;
}

.card-blur-navbar:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card-blur-navbar:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid-navbar:hover > .card-blur-navbar:not(:hover) > .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card-grid-navbar:hover > .card-blur-navbar:not(:hover) > .card__content h3 {
  filter: brightness(1) saturate(0) contrast(1.2) blur(1px);
}
.card-grid-navbar:hover
  > .card-blur-navbar:not(:hover)
  > .card__content
  button {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  padding: var(--spacing-l);
  position: absolute;
  bottom: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading-navbar {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  word-spacing: 100vw;
  text-align: center;
}
