.card-grid-Manage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(max-width: 539px){
    .card-grid-Manage{
      grid-template-columns: repeat(1, 1fr); 
    }
  }

  @media(min-width: 540px){
    .card-grid-Manage{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid-Manage{
      grid-template-columns: repeat(3, 1fr); 
    }
  }

.card-grid-Manage:hover > .card-blur:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card-grid-Manage:hover > .card-blur:not(:hover) > .card__content h3 {
    filter: brightness(1) saturate(0) contrast(1.2) blur(1px);
  }
  .card-grid-Manage:hover > .card-blur:not(:hover) > .card__content button {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(30px);
  }

.card__background {
  background: url("https://wallpaperaccess.com/full/13394.png");
}
