.card-grid-notice {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

.card-blur-notice {
	list-style: none;
	position: relative;
	height: 150px;
  }
  
  .card-blur-notice:before {
	content: "";
	display: block;
	padding-bottom: 150%;
	width: 100%;
  }

.card-grid-notice:hover > .card-blur-notice:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card-grid-notice:hover > .card-blur-notice:not(:hover) > .card__content h3 {
  filter: brightness(1) saturate(0) contrast(1.2) blur(1px);
}
.card-grid-notice:hover > .card-blur-notice:not(:hover) > .card__content button {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(30px);
}
